/* Muller Regular */
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/MullerRegular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/MullerRegular.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Muller Medium */
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		url('../fonts/MullerMedium.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fontsMullerMedium.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Muller Bold */
@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/MullerBold.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fontsMullerBold.woff') format('woff');
	/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

