:root {
	--ferst-color: #F0BF5F;
	--main-color: #CC9933;
	--Scandal: #CC9933;
	--Americano: #A47312;
	--Careys-blue: #CEE8FA;
	--white: #fff;
	--Burning-Sand: linear-gradient(180deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
	--Peach: #F1F1F1;
	--Portica: #E9E9E9;
	--Beeswax: #999999;
	--Oil: #666666;
	--Rioja: #333333;
	--La-black: #000000;
}